<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="footerfiles">
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<div>
<footer th:fragment="footer">
    <div id="footer_info">
        <div class="kontakt">
            <p><b>Telefon</b></p>
            <a href="tel:+4533734949">+45 33 73 49 49</a>
        </div>

        <div class="kontakt">
            <p><b>Email</b></p>
            <a href="mailto:it@davidssamling.org">it@davidssamling.org</a>
        </div>
    </div>
    <div class="copyright">
        <p> © Copyright 2021 - All Rights Reserved ❘ Designed by Davids samling</p>
    </div>
</footer>
</div>
</body>
</html>