<html lang="en">
<head>
  <meta charset="utf-8">

  <title>David's Samling</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="style.css">

</head>

<body>
  <!--<center><h2><b>Tilføj besøgende i grupper</b></h2></center>
    <div class="group-register">
	
	<form>
	<form>
	<h3>Tilføj gruppe</h3>
	<label>Køn</label><br>
	<input type="radio" id="male" name="gender" value="mand">
	<label for="mand">Mand</label><br>
	<input type="radio" id="female" name="gender" value="kvinde">
	<label for="kvinde">Kvinde</label><br>
	</form>
	
	<form>
	<label>Sprog</label><br>
	<input type="radio" id="danish" name="gender" value="dansk">
	<label for="dansk">Dansk</label><br>
	<input type="radio" id="english" name="gender" value="engelsk">
	<label for="engelsk">Engelsk</label><br>
	</form>
	
	<form>
	<label>Aldersgruppe</label><br>
	<input type="radio" id="0-12" name="gender" value="male">
	<label for="0-12">0-12</label><br>
	<input type="radio" id="13-24" name="gender" value="male">
	<label for="13-24">13-24</label><br>
	<input type="radio" id="25-54" name="gender" value="male">
	<label for="25-54">25-54</label><br>
	<input type="radio" id="55+" name="gender" value="male">
	<label for="55+">55+</label><br>
	</form>
	
	<form>
	<label>Antal personer</label><br>
	<input type="text" id="fname" name="fname">
	<label for="fname">personer</label>
	</form>
	<input type="submit" value="Indsend">
	</form>
  </div>-->

  
</body>
</html>