<html lang="en">
<head>
  <meta charset="utf-8">

  <title>David's Samling</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="style.css">

</head>

<body>
  <center><h2><b>Login</b></h2></center>
  <center><div class="login">
	<form>
	<label>Brugernavn</label><br>
	<input type="text" id="fname" name="fname"><br>
	<label>Adgangskode</label><br>
	<input type="password" id="fname" name="fname"><br>
	<input type="submit" value="Login">
	</form>
  </div></center>
    
</body>
</html>