<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Liste over besøgende</title>
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <h1>Besøgende</h1>
    </div>

    <div class="row">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Tid & dato</th>
                <th>Køn</th>
                <th>Aldersgruppe</th>
                <th>Gruppestørrelse</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="v : ${visitors}">
                <td th:text="${v.id}"></td>
                <td th:text="${v.dateAndTime}"></td>
                <td th:text="${v.gender}"></td>
                <td th:text="${v.ageGroup}"></td>
                <td th:text="${v.groupSize}"></td>
            </tr>

            </tbody>
        </table>
    </div>

    <div class="row">
        <a class="btn btn-info" href="h2-console">H2-console</a>
    </div>

</div>
</body>
</html>